#include "resource.h"
#include <windows.h>

IDI_PDFPP_APP ICON "PdfPP.ico"
IDR_MAIN_ACCELERATORS ACCELERATORS
BEGIN
    "O",        ID_FILE_OPEN,              VIRTKEY, CONTROL
    VK_LEFT,    ID_VIEW_PREVIOUS_PAGE,     VIRTKEY
    VK_PRIOR,   ID_VIEW_PREVIOUS_PAGE,     VIRTKEY
    VK_RIGHT,   ID_VIEW_NEXT_PAGE,         VIRTKEY
    VK_NEXT,    ID_VIEW_NEXT_PAGE,         VIRTKEY
    VK_OEM_MINUS, ID_VIEW_ZOOM_OUT,        VIRTKEY, CONTROL
    VK_SUBTRACT,  ID_VIEW_ZOOM_OUT,        VIRTKEY, CONTROL
    VK_OEM_PLUS,  ID_VIEW_ZOOM_IN,         VIRTKEY, CONTROL
    VK_ADD,       ID_VIEW_ZOOM_IN,         VIRTKEY, CONTROL
    "0",        ID_VIEW_ACTUAL_SIZE,       VIRTKEY, CONTROL
    "1",        ID_VIEW_FIT_PAGE,          VIRTKEY, CONTROL
    "2",        ID_VIEW_FIT_WIDTH,         VIRTKEY, CONTROL
    "B",        ID_VIEW_TOGGLE_BOOKMARKS,  VIRTKEY, CONTROL
END
